* {
    box-sizing: border-box;
    /* margin: 0; */
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    /* background: #1d1c1c; */
}

html {
    scroll-padding-top: 100px;
  }

body {
    background: aliceblue;
    margin: 0;
    animation-fill-mode: forwards;
}

span {
    display: inline-block;
}

ul {
    list-style: none;
}

h1 {
    font-size: 80px;
    color: #f8b771;
    margin: 0 0;
}
/* .loader {
    background: #1d1c1c;
    height: 120vh;
    width: 100%;
    position: fixed;
    z-index: 9999;
} */


.navbar {
    background: #1d1c1c;
    /* background-image: linear-gradient(to right, #8CA6DB 30%, #B993D6 100%); */
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    font-size: large;
    border-bottom: 1px solid white;
}

.navbar__container {
    display: flex;
    justify-content: space-between; 
    height: 100px;
    z-index: auto;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.home_text {
    font-size: 150px;
    background: conic-gradient(crimson, coral, blue, white, yellow, crimson);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-size: 5000px 5000px;
    animation: rgb 4s linear infinite;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2.5rem;
    transition: all 0.1s ease;
    padding: 0 30px;
}

@keyframes rgb {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 0 100%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* .home_text:hover {
    /* background: #d882ee;
    background: -webkit-linear-gradient(right, #d882ee, #4A00E0);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* background-position:1000px;
    transition: all 0.1s ease;
} Cannot transition gradients */ 


.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 100px;
}

.navbar__links {
    font-size: larger;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.25s ease;
}

.portfolio {
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar__links:hover {
    color: #f8c895;
    transition: all 0.25s ease;
}

/* Screen nav bar */
@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between; 
        height: 1;
        z-index: 10;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #1d1c1c;
        top: 100%;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.7rem;
        text-align: center;
        padding: 0;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
        width: 40px;
        height: 8px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background: #f8c895;;
        justify-content: center;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 7%;
        transform: translate(7%,20%);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(90deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-18px);
    }
}

/* Landing page text */

.landing {
    background: #1d1c1c;
    padding-top: 100px;
    padding-bottom: 50px;
    /* padding: 50px 0; */
    align-items: center;
    display: flex;
    justify-content: center;
    /* background-clip: none;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */ 
}

.landing__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    max-width: 1250px;
    margin: 0 auto;
    height: 100%;
}

.landing__heading {
    font-size: 90px;
    color:#f8b771;
}

.landing__desc {
    font-size: 40px;
    color: white;
    margin: 0 0;
    padding: 0 150px;
}

@media screen and (max-width: 960px) {
    .landing__heading {
        font-size: 70px;
    }

    .landing__desc {
        font-size: 35px;
    }
}

/* About section */
.about {
    background:#1d1c1c; 
    padding: 0 0;
    margin: 0 0;
    
}

.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    max-width: 1250px;
    padding: 0 20px;
}

.about__content {
    font-size: 35px;
    color: white;
    text-align: center;
    width: 100%;
}

.about__content span {
    color: #e6bd92;
}

.about__content p {
    /* font-size: 25px; */
    padding: 0 20px;
}

@media screen and (max-width: 960px) {

    .about__container {
        padding: 0 60px;
    }

    .about__content {
        font-size: 35px;
    }

    .about__content h1 {
        font-size: 50px;
    }
    
    .about__content p {
        font-size: 25px;
        padding: 0 10px;
    }
}
.projects__container {
    background:#1d1c1c;
    list-style: none;
}

.projects__div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 450px;
}

.projects__content {
    color: white;
    text-align: center;
    margin: 0 0;
}

.projects__content span {
    color:#f8c895;
}

.projects__desc p {
    font-size: 25px;
    margin: 10px;
}

.projects__content h4 {
    font-size: 25px;
    margin: 0;
}

.projects__div p {
    align-items: center;
    font-size: 20px;
    /* padding: 0px 100px; */
}


@media screen and (max-width: 960px) {

    .projects__div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
    }

    .projects__content {
        font-size: 25px;
    }

    .projects__div p {
        font-size: 25px;
        padding: 0px 50px;
    }

    .projects__content h1 {
        font-size: 50px;
    }

    .projects__content h3 {
        font-size: 30px;
    }

    .projects__content h4 {
        font-size: 25px;
    }
    
    .projects__desc p {
        font-size: 25px;
        margin: 5px;
    }
}

.contact__container {
    background:#1d1c1c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 0;
}

.contact__container p {
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 20px;
}

.contact__links {
    padding: 0 600px;
    /* color: white; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.contact__item {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    /* border: 10px solid red; */
}

.contact__text {
    color:#f8c895;
    /* border: 10px solid red; */
    padding: 0 0;
    /* padding: 0 50px; */
}

.contact__text h4 {
    margin: 0 0;
}

.contact__icon {
    color: white;
    width: 50px;
    height: 50px;
}

.contact__url:link {
    align-items: center;
}

.contact__url:visited {
    color: white;
}

.contact__url:hover {
    display: inline-block;
    position: relative;
    color: white;
}

.contact__url::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

.contact__url:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.footer__container {
    border-top: 1px solid white;
    padding: 1px;
    background: #1d1c1c;
}

.footer__text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
